
.all{
  margin: auto;
  width: 65%;
  padding: 10px;
}

fieldset{
  justify-content: center;
  border-radius: 12px;
  padding: 20px 70px;
  /*text-align: center;*/
  border: none; /* Remove default border */
  background: linear-gradient(145deg, #e4cfff, #9c27b0);

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15),
  -4px -4px 10px rgba(255, 255, 255, 0.7);
  position: relative;


}


h2 {
  text-align: center;
  color: #9c27b0;
  margin-bottom: 30px;
}

.approve{
  color: rgb(21, 230, 21);
}

.reject{
  color: red;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  /*text-align: center;*/
  margin-bottom: 5px;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
}


textarea {
  resize: vertical;
  min-height: 100px;
}

.submit-btn {
  font-size: 14px;
  background: #9c27b0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s, transform 0.3s;
}

.submit-btn:hover {
  background: #7b1fa2;
  transform: translateY(-3px);
}

.form-group input,  textarea, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s;
}

.form-group input:focus,  textarea:focus, select:focus {
  outline: none;
  border: 1px solid #9c27b0;
  box-shadow: 0 0 4px #9c27b0;
}

