<div class="profile-container">
  <div class="profile-header">
    <div class="avatar">
      <!-- Profile Picture -->
      <img [src]="profilePicUrl" alt="Profile Picture" class="profile-pic" />

      <!-- Hidden File Input for Profile Picture Change -->
      <input type="file" accept="image/*" id="fileInput" #fileInput (change)="changeProfilePicture($event)" style="display: none" />

      <!-- Button to Open File Dialog -->
      <button class="upload-button" (click)="fileInput.click()">
        <i class="fa fa-camera"></i> <!-- Camera Icon -->
      </button>
    </div>
    <h3>Dr. X.Y.Z. Peris</h3>
  </div>

  <div class="profile-details">
    <form (ngSubmit)="validatePassword()">
      <fieldset>
        <legend>
          <h2>My Profile</h2>
        </legend>
        <div class="form-row">
          <label for="fullName">Full Name</label>
          <input id="fullName" type="text" placeholder="Enter your full name" />
        </div>
        <div class="form-row">
          <label for="address">Address</label>
          <input id="address" type="text" placeholder="Enter your address" />
        </div>
        <div class="form-row">
          <label for="age">Age</label>
          <input id="age" type="number" placeholder="Enter your age" />
        </div>
        <div class="form-row">
          <label for="mobile">Mobile Number</label>
          <input id="mobile" type="text" placeholder="Enter your mobile number" />
        </div>
        <div class="form-row">
          <label for="email">E-mail</label>
          <input id="email" type="email" placeholder="Enter your email" />
        </div>
        <div class="form-row">
          <label for="spec">Specialization</label>
          <select id="spec">
            <option value="">Select Specialization</option>
            <option value="cardiology">Cardiology</option>
            <option value="neurology">Neurology</option>
            <option value="orthopedics">Orthopedics</option>
            <option value="marriageCounseling">Marriage Counseling</option>
            <option value="depressionCounseling">Depression Counseling</option>
            <option value="anxietyCounseling">Anxiety Counseling</option>
            <option value="careerCounseling">Career Counseling</option>
            <option value="relationshipCounseling">Relationship Counseling</option>
          </select>
        </div>
        <div class="form-row">
          <label for="exp">Year of Experience</label>
          <input id="exp" type="text" placeholder="Enter your years of experience" />
        </div>
        <div class="form-row">
          <label for="prof">Professional Qualification</label>
          <input id="prof" type="text" placeholder="Enter your qualifications" />
        </div>
        <div class="form-row">
          <label for="status">Status</label>
          <textarea rows="4" id="status" placeholder="Enter your status"></textarea>
        </div>

        <!-- Password Fields -->
        <div class="form-row">
          <label for="oldPassword">Old Password</label>
          <input id="oldPassword" type="password" placeholder="Enter your old password" />
        </div>
        <div class="form-row">
          <label for="newPassword">New Password</label>
          <div class="password-container">
            <input id="newPassword" [type]="passwordVisible ? 'text' : 'password'" placeholder="Enter a strong password" (input)="checkPasswordStrength(); checkPasswordsMatch()" />
            <i class="bi" [class]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"></i>
          </div>
          <div id="passwordStrength" class="error-message">{{passwordStrengthMessage}}</div>
        </div>
        <div class="form-row">
          <label for="confirmPassword">Confirm New Password</label>
          <div class="password-container">
            <input id="confirmPassword" [type]="passwordVisible ? 'text' : 'password'" placeholder="Re-enter your new password" (input)="checkPasswordsMatch()" />
            <i class="bi" [class]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"></i>
          </div>
          <div id="passwordError" class="error-message" *ngIf="!passwordsMatch">Passwords do not match</div>
          <div *ngIf="passwordsMatch" class="text-success">
            <i class="bi bi-check-circle"></i> Passwords match
          </div>
        </div>

        <button type="submit" class="update-button">Update Profile</button>
      </fieldset>
    </form>
  </div>
</div>
